<div id='container' ng-controller='StoriesController'>

    <form ng-submit="getStories()">
      <input type="text" ng-model="input" placeholder="What is everyone talking about?" />
      <input type="submit" value="submit" />
    </form>

    <div ng-repeat="story in data.stories"  >
    	<a ng-click="clickStory(story.url)" class= "story outline" ng-style= "{'background-image':'url(/api/getImage?site='+ story.url + '&topic=' + story.topic + ')'}" ng-href = {{story.url}} target="_blank">

        
            <!-- <div class='displayImg' background-image=url("/api/getImage?site={{story.Url}}")>
            </div> -->
            <!-- <img class='displayImg' ng-src=""/> -->
            
            <h3> 
                <img class='heart' ng-src='http://icons.iconarchive.com/icons/graphicloads/100-flat/256/heart-favourite-icon.png'>
                {{story.title}}
            </h3>
            <h4>{{story.source}}</h4>
            <h3 class='description'>{{story.description}}</h3>
        
    	</a>
    	
    </div>

</div>
