
#container {
  margin-bottom: 24px;
  margin-left: 10px;
}

.displayImg {
  height: 350px;
  width: 500px;
}

.heart {
  height: 20px;
  width: 20px;
  float: left;
  margin: 8px;
}

a.story {
  padding: 8px;
  color: #fff;
  background-size: cover;
  width: 31%;
  height: 256px;
  display: block;
  float: left;
  margin: 4px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.5);

  transition: all .2s ease-in-out;

}

a.story:hover { transform: scale(1.025); }

.description {
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  padding: 4px;
  border-radius: 5px;
  text-shadow: none;
  transition: opacity .4s ease-in-out;
}

a.story:hover > .description {
  opacity: 1;
}

.outline {
  text-shadow: 0px 0px 4px #000;
  
}



body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

#clique {
  font-family: 'Lobster', Georgia, Times, serif;
  float: left;
  margin-bottom: 10px;
  margin-left: 10px;
  color: red;
  font-size: 150%;

}

#bait {
  float:left;
  /*margin-bottom: 5px;*/
  margin-top: 5px;
  color: red;
  font-size: 150%;
}

.navigation {
  width: 100%;
  height: 60px;
  background-color: white;
  color: white;
}

.index {
  font-family: 'Lobster', Georgia, Times, serif;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 300% !important;  
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 68px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  color: #9D1309;
}

#container {
  clear: both;
  margin-top: 10px;
}

input {
  width:20%;
  margin-bottom: 10px;
}


